<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>About</title>
	<link rel="icon" href="/img/weather.png">
	<link rel="stylesheet" href="./css/styles.css">
	<link href="https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@500&family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main-content">
		{{>header}}
		<ul>
			<li>Website: <a href="https://chrysippean.com">https://chrysippean.com</a></li>
			<li>Github: <a href="https://github.com/Chrysippean/Node-Weather-Forecast">https://github.com/Chrysippean/Node-Weather-Forecast</a></li>
		</ul>
	</div>
	{{>footer}}
</body>
</html>