<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Help</title>
	<link rel="icon" href="/img/weather.png">
	<link rel="stylesheet" href="./css/styles.css">
	<link href="https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@500&family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main-content">
		{{>header}}
		<p>For any questions/inquiries, email me at <a href="mailto: dannynguyen52@gmail.com">dannynguyen52@gmail.com</a>!</p>
	</div>
	{{>footer}}
</body>
</html>